  .svg-container {
    position:absolute;
    top:100px;
  }

  .stroke-inner {
      fill:black;
      stroke:black;
    }
  .svg-ufo {
    /*visibility: hidden; */
    opacity: 0;
    scale:0.7;
    left:1100px;
    position: relative;
    top: 360px;  
    transition: opacity 0.1s ease;
  /*  animation: svg-ufo-launchAnimation 10s 13s ease-out forwards;*/ /*svg-ufo-relaunchAnimation 2s 24.3s ease-out forwards; to be dealt with */
  /*  animation-play-state: paused;*/ /*to be dealt with*/
  }                                                              
  
  @keyframes svg-ufo-launchAnimation{
    0% {
   /*   visibility: visible; */
   
      opacity: 1;
      transform: translateY(180%); /*350 -70 -80 -80 -40*/
    }
    80% {
      
      transform: translateY(-240%);
    }
    85% {
      transform:  translateY(-250%);
    }
    90% {
      transform:  translateY(-250%);
    }
    100% {
    /*  visibility: visible; */
      opacity: 1;
      transform:  translateY(-210%);
    }
  }
  .svg-ufo.svg-ufo-gone {
    transition: opacity 0.1s ease;
    opacity: 0.8;
    transform: translateY(-210%);
    position: absolute;
  /*  visibility: visible; */
    top:360px ;
    left:1100px ;
    /*animation: svg-ufo-relaunchAnimation 5s  ease-out forwards;*/
  }
  @keyframes svg-ufo-relaunchAnimation{
    0% {
      transform:translateY(-210%);
    }
    100%{
      display: none;
      transform:translateY(-360%);
    }
  }
/*========ufo animation*/
@keyframes scaleDownAndMove {
      0% {
  transform: translateY(0) ;
  opacity: 1;
}
100% {
  transform: translateY(40px) scale(0.9);
  opacity: 0;
}
}
@keyframes svg-fire-launchAnimation {
0% {
/*  visibility: visible; */
  opacity: 1;
  transform: translateY(485%);
}
65%{
/*  visibility: visible; */
  opacity: 1;
}
80% {

  
  transform: translateY(-630%);
}
90%{
/*  visibility: hidden; */
  opacity: 0;
  transform:  translateY(-630%);
}

}

@keyframes svg-fire-relaunchAnimation {
    0% {
      transform:translateY(-530%); /*1100*/
    }
    100%{
      display: none;
      opacity: 0.5;
      transform:translateY(-980%); /*1600*/
    }
  }
.svg-fire {
    opacity: 0;
   /* visibility: hidden;  */
    left:1130px;
    position: absolute;
    top: 450px;
    scale:0.3;
   /*animation: svg-fire-launchAnimation 10s 13s ease-out forwards;  
   animation-play-state: paused; *//*to be dealt with*/
  }
.svg-fire.svg-fire-gone {
/*  visibility: visible; */
  opacity: 1;
  left:1130px;
  position: absolute;
  top: 450px; /*640*/
  transform: translateY(-530%);
  scale:0.3;
}
.svg-fire-child {
animation: scaleDownAndMove 2s linear infinite;
}
